Package: com.rainbowjie.appsyncforios5060
Name: AppSync for IOS5.0+6.0+
Version: 2.2
Architecture: iphoneos-arm
Description: AppSync是允许您安装破解软件的补丁。
Depiction: http://itiaprepo.com/rainbowjie/debs/com.rainbowjie.appsyncforios5060/FILE/index.html
Author: Dissident  <apps@hackulo.us>
Section: 破解
Conflicts: us.hackulo.appsync50, us.hackulo.appsync50, com.xsellize.appsync50, com.xsellize.appsync50plus, us.hackulo.appsync50plus, appsync50plus.178
Icon: http://itiaprepo.com/tiz38/test.png
